Binaries
DerivedDataCache
Intermediate
Saved
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.DS_Store
Build
Package
Render/render.aep
Render/render.mp4
*sync-conflict*
MacNoEditor
Content/StarterContent
